.favorite__color {
    color: #e81c4f;
}

.bookmark__color {
    color: #2a88bd;
}

.collection__color {
    color: #ad4844;
}

.like__color {
    color: #2ab27b;
}

.bad__color {
    color: #ad4844;
}